[report]
show_missing =False
[run]
branch = True
omit =
    __pycache__
    */.local/*
    tests/* 
    test_*
    /usr/*
    */lib/*
    *apps.py,
    *migrations/*,
    *settings*,
    *tests/*,
     urls.py,
    *wsgi/*,
    manage.py
    /usr/*
    setup.py
    makarablog/wsgi.py 
